            body {
                transition: background-color 0.5s;
                background-image: url("NejvetsiDelitelBg.jpg");
            }
            #potvrdit {
                /*margin-left: 20px; /* Posune rámeček doprava o 10px */
                height: 100px; /* Zvětší výšku rámečku o 50px */
                /*margin-top: 0px; /* Posune rámeček dolů o 150px */
                height: 50px; /* Zvětší výšku polí */
                background-color: #0e921c; /* Nastaví pozadí pole */
                font-size: 32px; /* Zvětší velikost písma */
                border: 4px solid #3cff00; /* Přidá obrys tlačítka */
                color: white; /* Nastaví barvu textu tlačítka na bílou */
                cursor: pointer; /* Změní kurzor na ukazatel při najetí myší */
            }
            #cisloa {
                /*margin-left: 10px; /* Posune rámeček doprava o 10px */
                height: 50px; /* Zvětší výšku rámečku o 50px */
                /*margin-top: 150px; /* Posune rámeček dolů o 20px */
                font-size: 32px; /* Zvětší velikost písma */
                background-color: #ef0000; /* Nastaví pozadí pole */
            }
            #cislob {
                /*margin-left: 150px; /* Posune rámeček doprava o 10px */
                height: 50px; /* Zvětší výšku rámečku o 50px */
                font-size: 32px; /* Zvětší velikost písma */
                /*margin-top: 150px; /* Posune rámeček dolů o 20px */
                background-color: #0070ef; /* Nastaví pozadí pole */

            }
            #delitel {
                width: 200px;
                height: 200px; /* Zvětší výšku rámečku o 50px */
                margin-top: 0px; /* Posune rámeček dolů o 150px */
                height: 150px; /* Zvětší výšku polí */
                background-color: #0e921c; /* Nastaví pozadí pole */
                font-size: 36px; /* Zvětší velikost písma */
                color: rgb(242, 255, 0); /* Nastaví barvu textu tlačítka na bílou */
                font-weight: bold; /* Nastaví tučné písmo */
            }