            body {

                transition: background-color 0.5s;

                background-image: url("PrekladacBg.jpg");

            }

                #policko {

                /*margin-left: 10px; /* Posune rámeček doprava o 10px */

                height: 50px; /* Zvětší výšku rámečku o 50px */

                margin-top: -150px; /* Posune rámeček dolů o 20px */

                font-size: 32px; /* Zvětší velikost písma */

                background-color: #ef0000; /* Nastaví pozadí pole */

            }

            #potvrdit {

                /*margin-left: 20px; /* Posune rámeček doprava o 10px */

                height: 100px; /* Zvětší výšku rámečku o 50px */

                margin-top: 150px; /* Posune rámeček dolů o 150px */

                height: 50px; /* Zvětší výšku polí */

                background-color: #0e921c; /* Nastaví pozadí pole */

                font-size: 32px; /* Zvětší velikost písma */

                border: 4px solid #3cff00; /* Přidá obrys tlačítka */

                color: white; /* Nastaví barvu textu tlačítka na bílou */

                cursor: pointer; /* Změní kurzor na ukazatel při najetí myší */

            }

    h1 {
        background-color: white;
    }