@media screen and (prefers-color-scheme: dark) {
    :root {
        --black: #fff;
        --white: #000;

        --bgColor: #333;
        --text: #f8fafd;

        --mainColor: #fff000;

        --petrolColor: #238c96;
        --sandColor: #1b1b1b;
        --oliveColor: #4b8969;
        --redColor: #b61a2d;
        --grayColor: #3e3e3e;

        --controlColor: #222;
        --faColor: #ccc;
    }

    #logo .img {
        background-image: url(../images/logo_white.svg);
    }

    #top-panel,
    #top-panel * {
        color: var(--white);
    }

    .select-selected::after {
        border-color: var(--white) transparent transparent transparent !important;
    }

    .select-selected.select-arrow-active:after {
        border-color: transparent transparent var(--white) transparent !important;
    }

    .table-row.active:not(:hover) {
        color: var(--white);
    }

    .dialog-container {
        background-color: rgb(7, 5, 2, 0.8) !important;
    }

    dialog h2,
    dialog label,
    dialog span.cancel,
    dialog span.submit {
        color: var(--black);
    }

    dialog span.radiomark:after {
        background: var(--white) !important;
    }

    dialog span.checkmark:after {
        border-color: var(--white) !important;
    }
}
